
<h1 class="sectionedit1" id="silvester_mampf">SILVESTER MAMPF</h1>
<div class="level1">

<p>
 * <strong>Uhrzeit: </strong> Ich werd von 9 Uhr - 21 Uhr kochen
</p>
<ul>
<li class="level1"><div class="li"> <strong>Speisen: (bis jetzt) </strong> </div>
</li>
<li class="level1"><div class="li"> Gefüllter Hackbraten</div>
</li>
<li class="level1"><div class="li"> Schmorbraten</div>
</li>
<li class="level1"><div class="li"> Rouladen</div>
</li>
<li class="level1"><div class="li"> Chinesisches Gericht</div>
</li>
<li class="level1"><div class="li"> Risotto</div>
</li>
<li class="level1"><div class="li"> Blätterteigtaschen</div>
</li>
<li class="level1"><div class="li"> selbstgemachte Frikadellen</div>
</li>
<li class="level1"><div class="li"> Kartoffelauflauf </div>
</li>
<li class="level1"><div class="li"> selbstgemachte Gnocchi</div>
</li>
<li class="level1"><div class="li"> Kassler (mit Sauerkraut oder im Teigmantel</div>
</li>
<li class="level1"><div class="li"> Gulasch</div>
</li>
<li class="level1"><div class="li"> Chili Con Carne</div>
</li>
<li class="level1"><div class="li"> Rosmarin Kartoffeln</div>
</li>
<li class="level1"><div class="li"> Kirschquark</div>
</li>
<li class="level1"><div class="li"> Bananen Nutella Crem</div>
</li>
<li class="level1"><div class="li"> Apfelnachtisch</div>
</li>
<li class="level1"><div class="li"> Nudelsalat</div>
</li>
<li class="level1"><div class="li"> Kartoffelsalat</div>
</li>
<li class="level1"><div class="li"> Nudelauflauf</div>
</li>
<li class="level1"><div class="li"> Reisauflauf (Nachtisch)</div>
</li>
<li class="level1"><div class="li"> Gulaschsuppe</div>
</li>
<li class="level1"><div class="li"> + ein paar weitere</div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: </strong> Sarah am 30.12</div>
</li>
<li class="level1"><div class="li"> <strong>Helfer: Kirby &amp; Franzi </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein): </strong> gibt es auch</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich): </strong> 3700 TTOGs</div>
</li>
<li class="level1"><div class="li"> Franzi und Sarah fragen: wer soll das alles essen? <img src="/lib/images/smileys/icon_smile.gif" class="icon" alt=":-)" /></div>
</li>
</ul>

</div>
<!-- EDIT1 SECTION "SILVESTER MAMPF" [1-822] -->
<h1 class="sectionedit2" id="mampf_am_19122011_letztes_montagsmampf_2011">MAMPF am 19.12.2011 **LETZTES MONTAGSMAMPF 2011**</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit: </strong> 19.30</div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> -</div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Chinesisches Gericht(Keine AHnung wie der richtige Name ist - Fleisch mit Sojasoße und Gemüse)</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Reis/Risotto</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: </strong> erwünscht</div>
</li>
<li class="level1"><div class="li"> <strong>Helfer: </strong> Anca</div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein): </strong> Nur wenn man auf gebratenes Gemüse mit Reis abfährt…</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich): </strong> 33,45 MAD</div>
</li>
</ul>

</div>
<!-- EDIT2 SECTION "MAMPF am 19.12.2011 **LETZTES MONTAGSMAMPF 2011**" [823-1303] -->
<h2 class="sectionedit3" id="zusagen">Zusagen</h2>
<div class="level2">
<div class="table sectionedit4"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Alergien </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">TTOG  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Rainer  </td><td class="col2 leftalign"> Ohrboihd nährft!             </td><td class="col3 leftalign"> […]                            </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1">Alex </td><td class="col2 centeralign">    Om nom nom                          </td><td class="col3 centeralign">           nöö, aber Abneigung gegen zu scharf :)                  </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Franzi  </td><td class="col2 leftalign"> TTOGFan                              </td><td class="col3 leftalign">              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1">Lenny</td><td class="col2"> Fand das Gericht letztes mal schon genial</td><td class="col3"> Vegetarier</td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1"> Regina</td><td class="col2 leftalign">gute idee da bekommt man schon Hunger + Glühwein     </td><td class="col3 centeralign">   Bitte nicht zu viel Ingwer                        </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Dante  </td><td class="col2 leftalign"> Rechtschreibnazi                              </td><td class="col3 centeralign">  Allergien!                           </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Ralf  </td><td class="col2 leftalign"> Mein erstes Mal               </td><td class="col3"> heute nicht </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1">Adrian</td><td class="col2 leftalign">  </td><td class="col3">Vegetarier…? &amp;Sarah</td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1">Anca </td><td class="col2 leftalign"> es ist bestimmt kalorienarmes Wasser…. bringt Glühwein mit                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1">Matze </td><td class="col2"> komm wahrscheinlich etwas später </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                                                         </td><td class="col3"></td>
	</tr>
	<tr class="row13">
		<td class="col0">13</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row14">
		<td class="col0">14</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row15">
		<td class="col0">15</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
</table></div>
<!-- EDIT4 TABLE [1322-2597] -->
</div>
<!-- EDIT3 SECTION "Zusagen" [1304-2598] -->
<h2 class="sectionedit5" id="absagen">Absagen</h2>
<div class="level2">
<div class="table sectionedit6"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person		</th><th class="col1 centeralign">  Bemerkung  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> Kirby	</td><td class="col1 leftalign"> Meanwhile somewhere in the Black Forrest….			</td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> Sarah		</td><td class="col1 leftalign"> brennt mit hannes durch			</td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> Hannes	</td><td class="col1 leftalign"> brennt mit Sarah durch			</td>
	</tr>
	<tr class="row4">
		<td class="col0"> marf </td><td class="col1"> Ressourcenkonflikt </td>
	</tr>
</table></div>
<!-- EDIT6 TABLE [2617-2808] -->
</div>
<!-- EDIT5 SECTION "Absagen" [2599-2809] -->
<h1 class="sectionedit7" id="mampf_am_12122011">MAMPF am 12.12.2011</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit: </strong> 19.30</div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> -</div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Flammkuchen (Vorschläge für Variationen)</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> -</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Bratapfel</div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: </strong> Sarah (allerdings schon am Sa um 10.30 Uhr, also wenn wer anders will… ^^)</div>
</li>
<li class="level1"><div class="li"> <strong>Helfer: </strong> Manuel&amp;Kirby</div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein): </strong> möglich</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich): </strong> 7200 Uspekische So&#039;m</div>
</li>
</ul>

</div>
<!-- EDIT7 SECTION "MAMPF am 12.12.2011" [2810-3242] -->
<h2 class="sectionedit8" id="zusagen1">Zusagen</h2>
<div class="level2">
<div class="table sectionedit9"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Vegetarier? </th><th class="col4"> Variationsvorschlag </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">TTOG  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">                             </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Sarah  </td><td class="col2"> gebt mir Essen und niemand wird verletzt!! </td><td class="col3 centeralign">       Eiertarier          </td><td class="col4 leftalign">milde Peparoni Schafskäse            </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1">Manuel </td><td class="col2 leftalign"> Flaaaaaammmkuuuuuchhhheennnnnnnnnn!                             </td><td class="col3 centeralign">        Baconstrips&amp;Baconstrips&amp;…                     </td><td class="col4"></td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1">Adrian </td><td class="col2 leftalign"> Flammkuchen Fressen Fernsehen    </td><td class="col3 leftalign"> Bacon-Addict                 </td><td class="col4 leftalign"> Bacon mit Bacon und flambiert mit Apfel                      </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Regina  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">                             </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">marf  </td><td class="col2 leftalign"> Flammmampf                     </td><td class="col3 leftalign"> w00t?                       </td><td class="col4 leftalign"> mit Sarah                   </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Kirby  </td><td class="col2 leftalign"> Kuchen ist immer gut                            </td><td class="col3 centeralign">  ach ne lass mal                           </td><td class="col4 leftalign">HACKFLEISCH                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 centeralign">  mediterran - mit tomate, feta und zB. Rosmarin, Basilikum, …                           </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Alex  </td><td class="col2 leftalign"> mampf mampf mampf!             </td><td class="col3 centeralign">      nö, grade nicht        </td><td class="col4 centeralign">      hauptsache gibt einen mit speck &amp; zwiebel                       </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1">Bunny </td><td class="col2 leftalign"> woohooo                        </td><td class="col3 leftalign"> jap                         </td><td class="col4 leftalign"> feta, tomate, lauch, zwiebel, kräuter, peperoni, oliven                          </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1">Matze </td><td class="col2 leftalign"> nomnomnom                      </td><td class="col3 leftalign"> Nur gut gebraten.           </td><td class="col4 leftalign">                             </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">                             </td>
	</tr>
	<tr class="row13">
		<td class="col0">13</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">                             </td>
	</tr>
	<tr class="row14">
		<td class="col0">14</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">                             </td>
	</tr>
	<tr class="row15">
		<td class="col0">15</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">                             </td>
	</tr>
</table></div>
<!-- EDIT9 TABLE [3261-5267] -->
</div>
<!-- EDIT8 SECTION "Zusagen" [3243-5268] -->
<h2 class="sectionedit10" id="absagen1">Absagen</h2>
<div class="level2">
<div class="table sectionedit11"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person		</th><th class="col1 centeralign">  Bemerkung  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
</table></div>
<!-- EDIT11 TABLE [5287-5360] -->
</div>
<!-- EDIT10 SECTION "Absagen" [5269-5361] -->
<h1 class="sectionedit12" id="mampf_am_05122011">MAMPF am 05.12.2011</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit: </strong> 19.30</div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> vielleicht eine Suppe</div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> <a href="http://www.chefkoch.de.ipv4.sixxs.org/rezepte/100011040044491/Hackfleisch-Spinat-Gratin.html" class="urlextern" title="http://www.chefkoch.de.ipv4.sixxs.org/rezepte/100011040044491/Hackfleisch-Spinat-Gratin.html" rel="nofollow">http://www.chefkoch.de.ipv4.sixxs.org/rezepte/100011040044491/Hackfleisch-Spinat-Gratin.html</a> </div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> -</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Panna Cotta</div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: </strong>not Sarah</div>
</li>
<li class="level1"><div class="li"> <strong>Helfer: </strong> Sarah</div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein): </strong> möglich</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich): </strong> 4573 Won</div>
</li>
</ul>

</div>
<!-- EDIT12 SECTION "MAMPF am 05.12.2011" [5362-5780] -->
<h2 class="sectionedit13" id="zusagen2">Zusagen</h2>
<div class="level2">
<div class="table sectionedit14"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">TTOG  </td><td class="col2 leftalign"> Heil mir                              </td><td class="col3 leftalign"> bestehen auch nur aus Fleisch                           </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Sarah  </td><td class="col2 leftalign">bitte keine Eierbandnudeln ;)  </td><td class="col3 leftalign"> muss ich erst googlen                             </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row4">
		<td class="col0" colspan="2">04</td><td class="col2 leftalign">                              </td><td class="col3 centeralign">       ?             </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign"> Dante                          </td><td class="col2 leftalign"> Schulden müssen wachsen     </td><td class="col3"> können gerne meine Schulden zahlen. </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Bunny  </td><td class="col2 leftalign"> auch mal wieder da                              </td><td class="col3 centeralign">              JAAAAAAAAA               </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row13">
		<td class="col0">13</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row14">
		<td class="col0">14</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row15">
		<td class="col0">15</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
</table></div>
<!-- EDIT14 TABLE [5799-7065] -->
</div>
<!-- EDIT13 SECTION "Zusagen" [5781-7066] -->
<h2 class="sectionedit15" id="absagen2">Absagen</h2>
<div class="level2">
<div class="table sectionedit16"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person		</th><th class="col1 centeralign">  Bemerkung  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> <span style='color:black; background-color:red;'> Franzi </span> 		</td><td class="col1 leftalign"> weil dem so	</td>
	</tr>
	<tr class="row2">
		<td class="col0"> Matze</td><td class="col1 leftalign"> Werd erst später wieder in KA sein. 			</td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> Adrian		</td><td class="col1"> Bereitet das geheime ULTRA-MAMPF vor </td>
	</tr>
	<tr class="row4">
		<td class="col0">paddy </td><td class="col1">so halt</td>
	</tr>
</table></div>
<!-- EDIT16 TABLE [7085-7283] -->
</div>
<!-- EDIT15 SECTION "Absagen" [7067-7284] -->
<h1 class="sectionedit17" id="mampf_am_28112011">MAMPF am 28.11.2011</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit: </strong> 19.30</div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Vielleicht Burger (also Fleisch und Relish selbermachen, entscheide mich aber bis Freitag noch um, oder auch nicht)</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Von TTOG erwünscht (ansonsten Panna Cotta)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: </strong> Kirby macht</div>
</li>
<li class="level1"><div class="li"> <strong>Helfer: </strong> Kirby</div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein): </strong> Wenn Burger, dann möglich (mit Gemüsesticks oder so)</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich): </strong> 5100 <a href="http://de.wikipedia.org.ipv4.sixxs.org/wiki/T%C3%B6gr%C3%B6g" class="urlextern" title="http://de.wikipedia.org.ipv4.sixxs.org/wiki/T%C3%B6gr%C3%B6g" rel="nofollow"> Tögrög</a> ← weil ich den Namen so toll fand…</div>
</li>
</ul>

</div>
<!-- EDIT17 SECTION "MAMPF am 28.11.2011" [7285-7893] -->
<h2 class="sectionedit18" id="zusagen3">Zusagen</h2>
<div class="level2">
<div class="table sectionedit19"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">TTOG  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1">Kirby </td><td class="col2 leftalign"> Bevor ihn einer vermisst                              </td><td class="col3 leftalign"> Also die vermisst bestimmt keiner( Ausnahme Bunny)                             </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Adrian  </td><td class="col2 leftalign"> Ein Ehrenvoller Tag.                              </td><td class="col3 leftalign"> Niemals!                            </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Sarah  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Adrian  </td><td class="col2"> B-B-B-Burgerkill </td><td class="col3 leftalign"> Burger ohne Fleisch sind wie Männer ohne 3. Bein.         </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1">Lenny</td><td class="col2"> auch mal wieder dabei </td><td class="col3"> NIEMALS </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1">Matze </td><td class="col2"> Jetzt war ich schon so lange nichtmehr im HDK </td><td class="col3"> Wer macht denn sowas?</td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Dante  </td><td class="col2 leftalign"> Burger klingt gut und so                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Manuel  </td><td class="col2"> hatte ich auch letztens mal wieder machen wollen</td><td class="col3 leftalign">burger ohne fleisch? lol                             </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Regina  </td><td class="col2 leftalign"> hmmm burger                            </td><td class="col3 centeralign">             nö                </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row13">
		<td class="col0">13</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row14">
		<td class="col0">14</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row15">
		<td class="col0">15</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
</table></div>
<!-- EDIT19 TABLE [7912-9257] -->
</div>
<!-- EDIT18 SECTION "Zusagen" [7894-9258] -->
<h2 class="sectionedit20" id="absagen3">Absagen</h2>
<div class="level2">
<div class="table sectionedit21"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person		</th><th class="col1 centeralign">  Bemerkung  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> marf		</td><td class="col1 leftalign"> Sitzung :/			</td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
</table></div>
<!-- EDIT21 TABLE [9277-9359] -->
</div>
<!-- EDIT20 SECTION "Absagen" [9259-9361] -->
<h1 class="sectionedit22" id="mampf_am_21112011">MAMPF am 21.11.2011</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit: 18.00 (pünktlich, da um 19.00 Flurversammlung und um 20.00 HP ist)</strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Abondigas (spanische Klösse in Tomatensoße)</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Reis (noral oder gebraten)</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Sarah</div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: </strong> Sarah (allerdings schon Samstag, wenn wer anders will kein Problem)</div>
</li>
<li class="level1"><div class="li"> <strong>Helfer: </strong> Cordula, Johannes</div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein): </strong> Hm, Fleisch in der Soße, mir fällt keine Alternative ein</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich): </strong> 5100 <a href="http://de.wikipedia.org.ipv4.sixxs.org/wiki/T%C3%B6gr%C3%B6g" class="urlextern" title="http://de.wikipedia.org.ipv4.sixxs.org/wiki/T%C3%B6gr%C3%B6g" rel="nofollow"> Tögrög</a> </div>
</li>
<li class="level1"><div class="li"> </div>
</li>
</ul>

</div>
<!-- EDIT22 SECTION "MAMPF am 21.11.2011" [9362-9988] -->
<h2 class="sectionedit23" id="zusagen4">Zusagen</h2>
<div class="level2">
<div class="table sectionedit24"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">TTOG  </td><td class="col2"> Meine momentane Lieblingswährung </td><td class="col3 leftalign"> —                            </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Sarah  </td><td class="col2 leftalign">Apfel-Streusel-Geschmack       </td><td class="col3 leftalign"> im nächsten Leben                  )          </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1">Cordula </td><td class="col2 leftalign"> von M1                         </td><td class="col3 centeralign">               NEIN              </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Johannes  </td><td class="col2 leftalign"> Anhang von Cordula                              </td><td class="col3 centeralign">         nö                    </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">x  </td><td class="col2 leftalign"> x         </td><td class="col3 leftalign"> x                   </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">marf  </td><td class="col2 leftalign"> lüdedüde                              </td><td class="col3 leftalign"> nur am Opposite Day                            </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1">Lenny </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Stefan  </td><td class="col2 leftalign"> 8==================D                              </td><td class="col3 centeralign">   Bitte Medium Rare                  </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1">Kirby </td><td class="col2 leftalign">     </td><td class="col3 leftalign">                            </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">JD    </td><td class="col2 leftalign">                                </td><td class="col3 leftalign"> Nur beim Gemüse             </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row13">
		<td class="col0">13</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row14">
		<td class="col0">14</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row15">
		<td class="col0">15</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
</table></div>
<!-- EDIT24 TABLE [10007-11225] -->
</div>
<!-- EDIT23 SECTION "Zusagen" [9989-11226] -->
<h2 class="sectionedit25" id="absagen4">Absagen</h2>
<div class="level2">
<div class="table sectionedit26"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person		</th><th class="col1 centeralign">  Bemerkung  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> Anca		</td><td class="col1 leftalign"> weil sie erst ab 20h kann … grmmml…			</td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> Dante		</td><td class="col1 leftalign"> Muss absagen, da zu früh :/			</td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> Matze         </td><td class="col1 leftalign"> Wird mir heute zeitlich auch zu knapp			</td>
	</tr>
</table></div>
<!-- EDIT26 TABLE [11245-11428] -->
</div>
<!-- EDIT25 SECTION "Absagen" [11227-11429] -->
<h1 class="sectionedit27" id="mampf_am_montag_den_141111">MAMPF am Montag, den 14.11.11</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit: 19.30</strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Herzhafte Kartoffelsuppe</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Brot /wenn ich Lust habe selbstgemachten, wenn nicht gekauftes</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Bananen - Nutella Crem</div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Helfer: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein): </strong> ist möglich</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich): </strong> 2,11 Lettische Lats</div>
</li>
</ul>

</div>
<!-- EDIT27 SECTION "MAMPF am Montag, den 14.11.11" [11430-11839] -->
<h2 class="sectionedit28" id="zusagen5">Zusagen</h2>
<div class="level2">
<div class="table sectionedit29"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">TTOG  </td><td class="col2 leftalign"> War was beginning…           </td><td class="col3 leftalign"> Nope                            </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1">Sarah </td><td class="col2 leftalign"> it`s going to be LEGEN- (wfi)       </td><td class="col3 leftalign"> they eat DARY                             </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Stefan  </td><td class="col2 leftalign"> 8===D                              </td><td class="col3 centeralign">   NIEMALS                      </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1">Matze </td><td class="col2 leftalign"> Blub                           </td><td class="col3"> Und das gute Fleisch verkommen lassen? Niemals!! </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Dante  </td><td class="col2 leftalign"> Muss um 21 Uhr weg                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Adrian  </td><td class="col2 leftalign">NomNomNom                     </td><td class="col3 leftalign"> Nicht mal beim Frühstück!               </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row9">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row10">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row11">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row12">
		<td class="col0">13</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row13">
		<td class="col0">14</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row14">
		<td class="col0">15</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
</table></div>
<!-- EDIT29 TABLE [11858-13032] -->
</div>
<!-- EDIT28 SECTION "Zusagen" [11840-13033] -->
<h2 class="sectionedit30" id="absagen5">Absagen</h2>
<div class="level2">
<div class="table sectionedit31"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person		</th><th class="col1 centeralign">  Bemerkung  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
</table></div>
<!-- EDIT31 TABLE [13052-13125] -->
</div>
<!-- EDIT30 SECTION "Absagen" [13034-13127] -->
<h1 class="sectionedit32" id="mampf_am_montag_den_071111">MAMPF am Montag, den 07.11.11</h1>
<div class="level1">

<p>
MUSS LEIDER ABGESAGT WERDEN, DA TTOG KRANK IST
</p>
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit: 19.30</strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Herzhafte Kartoffelsuppe</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Brot /wenn ich Lust habe selbstgemachten, wenn nicht gekauftes</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Bananen - Nutella Crem</div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Helfer: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein): </strong> ist möglich</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich): </strong> 2,11 Lettische Lats</div>
</li>
</ul>

</div>
<!-- EDIT32 SECTION "MAMPF am Montag, den 07.11.11" [13128-13587] -->
<h2 class="sectionedit33" id="zusagen6">Zusagen</h2>
<div class="level2">
<div class="table sectionedit34"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">TTOG  </td><td class="col2 leftalign"> In A.D.2101…                  </td><td class="col3 leftalign"> was meine Untergötter sich dabei gedacht haben…     </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Stefan  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1">Sarah </td><td class="col2 leftalign"> - Fan von Essen                </td><td class="col3 leftalign"> Gelegentlich                           </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Kirby  </td><td class="col2 leftalign"> Mampf                              </td><td class="col3 centeralign">  Lieber nicht                           </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Adrian  </td><td class="col2 leftalign"> Mit Baconstrips?!            </td><td class="col3 leftalign"> Im Notfall frisst der Teufel Fliegen…                             </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign"> wenn kein Fleisch drin ist                             </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1">Matze </td><td class="col2 leftalign"> <a href="http://www.youtube.com.ipv4.sixxs.org/watch?v=gHpWC6DGoJE" class="urlextern" title="http://www.youtube.com.ipv4.sixxs.org/watch?v=gHpWC6DGoJE" rel="nofollow">Suppe?!</a>      </td><td class="col3 leftalign"> Ja, jeden <a href="http://de.uncyclomedia.org.ipv4.sixxs.org/wiki/Tr%C3%B6lf" class="urlextern" title="http://de.uncyclomedia.org.ipv4.sixxs.org/wiki/Tr%C3%B6lf" rel="nofollow">trölften</a> Tag im Jahr                </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row13">
		<td class="col0">13</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row14">
		<td class="col0">14</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row15">
		<td class="col0">15</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
</table></div>
<!-- EDIT34 TABLE [13606-15020] -->
</div>
<!-- EDIT33 SECTION "Zusagen" [13588-15021] -->
<h2 class="sectionedit35" id="absagen6">Absagen</h2>
<div class="level2">
<div class="table sectionedit36"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person		</th><th class="col1 centeralign">  Bemerkung  </th><td class="col2"></td><td class="col3"></td>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> Franzi	</td><td class="col1" colspan="2"> weil wir es schon lange nicht mehr hatten</td><th class="col3 leftalign">			</th>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td><td class="col2"></td><td class="col3"></td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td><td class="col2"></td><td class="col3"></td>
	</tr>
</table></div>
<!-- EDIT36 TABLE [15040-15156] -->
</div>
<!-- EDIT35 SECTION "Absagen" [15022-15158] -->
<h1 class="sectionedit37" id="mampf_am_montag_den_311011">MAMPF am Montag, den 31.10.11</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit:  </strong> 19.30</div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> wenns jemand übernehmen will</div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Rinderrouladen</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Kartoffeln + Soße</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> TTÖGerspeise selbstgemacht, nicht das Tüten Zeug… (Irgendwelche Geschmackswünsche? Ananas, Kirsch, Tee?)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: </strong> Sarah </div>
</li>
<li class="level1"><div class="li"> <strong>Helfer: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein): </strong> kann mir eine vegetarische Alternative überlegen, vieleicht Rösti oder so…</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich): </strong> 324 NPR</div>
</li>
<li class="level1"><div class="li"> Bitte bedenkt: Montag ist K1 Hausfest</div>
</li>
</ul>

</div>
<!-- EDIT37 SECTION "MAMPF am Montag, den 31.10.11" [15159-15734] -->
<h2 class="sectionedit38" id="zusagen7">Zusagen</h2>
<div class="level2">
<div class="table sectionedit39"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Vegetarier? </th><th class="col4"> Nachtischgeschmack </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">TTOG  </td><td class="col2 leftalign"> 10.WikiMamf                    </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">     </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1">Sarah </td><td class="col2 leftalign"> -katatunka katatunka           </td><td class="col3 leftalign"> net mal an Fasching           </td><td class="col4">Schoko-Frucht</td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1"> stefan </td><td class="col2"> Hat den längsten (Heimweg)</td><td class="col3"> kann man vllt. flach legen.. oderso </td><td class="col4"> Weiblich</td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Adrian  </td><td class="col2 leftalign"> Baconstrips in Beef eingerollt… HMMMM *sabber*  </td><td class="col3 leftalign"> Nein, danke!  </td><td class="col4 leftalign"> Knoblauch-Zwiebel-Nuss    </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1">Matze </td><td class="col2 leftalign"> Mööp!                              </td><td class="col3 leftalign"> Nur in Notfällen        </td><td class="col4 leftalign"> Fleisch?!    </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1">Kirby </td><td class="col2 leftalign"> Kommt hoffentlich pünktlich ansonsten mit Gepäck an                              </td><td class="col3 centeralign">         langweilig                    </td><td class="col4 leftalign">POMMES     </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">     </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">     </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">     </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">     </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">     </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">     </td>
	</tr>
	<tr class="row13">
		<td class="col0">13</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">     </td>
	</tr>
	<tr class="row14">
		<td class="col0">14</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">     </td>
	</tr>
	<tr class="row15">
		<td class="col0">15</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td><td class="col4 leftalign">     </td>
	</tr>
</table></div>
<!-- EDIT39 TABLE [15753-17157] -->
</div>
<!-- EDIT38 SECTION "Zusagen" [15735-17158] -->
<h2 class="sectionedit40" id="absagen7">Absagen</h2>
<div class="level2">
<div class="table sectionedit41"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person		</th><th class="col1 centeralign">  Bemerkung  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> 04 Manuel		</td><td class="col1 leftalign"> Habe festgestellt dass ich da schon auf das Emil Bulls Konzert gehe		</td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> Lenny		</td><td class="col1"> AK-Mampf vor Steakstand wird bissl viel ;) </td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> Franzi		</td><td class="col1"> - </td>
	</tr>
</table></div>
<!-- EDIT41 TABLE [17177-17360] -->
</div>
<!-- EDIT40 SECTION "Absagen" [17159-17361] -->
<h1 class="sectionedit42" id="mampf_am_montag_den_241011">MAMPF am Montag, den 24.10.11</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit: </strong> 19.30-20.00</div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> vielleicht ne Suppe</div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> vieleicht das hier: <a href="http://www.chefkoch.de.ipv4.sixxs.org/rezepte/1098031215781255/Geniales-Partyessen.html" class="urlextern" title="http://www.chefkoch.de.ipv4.sixxs.org/rezepte/1098031215781255/Geniales-Partyessen.html" rel="nofollow">http://www.chefkoch.de.ipv4.sixxs.org/rezepte/1098031215781255/Geniales-Partyessen.html</a></div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> -</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> wers machen will…</div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: </strong> MARF</div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein): </strong> ist möglich</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich): </strong> 5,10 Neuseeland-Dollar</div>
</li>
</ul>

</div>
<!-- EDIT42 SECTION "MAMPF am Montag, den 24.10.11" [17362-17806] -->
<h2 class="sectionedit43" id="zusagen8">Zusagen</h2>
<div class="level2">
<div class="table sectionedit44"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1">TTOG </td><td class="col2"> Oh Worte der Liebe, oh Worte so rein, die schönen Gedanken, der köstliche Reim. Von allen Menschen Worten ist nichts so fein wie diese 3 Worte: ALLES IST MEIN! </td><td class="col3 leftalign">Pflanzen Essen ist unfair, mein Steak kann wenigstens weglaufen!               </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">marf  </td><td class="col2 leftalign"> WHOOP-WHOOP! (was ist mit 06 und 07 passiert? o_O)                              </td><td class="col3 leftalign"> kein Baumschmuser                           </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Dante  </td><td class="col2 leftalign"> Krieg Mittags nichts, da muss abends nachgeholt werden  </td><td class="col3"> </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1">Lenny </td><td class="col2 leftalign"> Zu faul selber eintragen (Kirby)                           </td><td class="col3 centeralign">      NIEMALS                       </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Franzi  </td><td class="col2 leftalign"> Dem faulen Sacke seine Ische                               </td><td class="col3 centeralign">     nope                        </td>
	</tr>
	<tr class="row6">
		<td class="col0">08</td><td class="col1">Sarah </td><td class="col2 leftalign">hatte Mampf-entzug              </td><td class="col3 leftalign"> Eiertarier                             </td>
	</tr>
	<tr class="row7">
		<td class="col0">09</td><td class="col1 leftalign">Fabi  </td><td class="col2 leftalign"> Auch mal wieder da :D          </td><td class="col3 leftalign"> JAAAAAAA!                   </td>
	</tr>
	<tr class="row8">
		<td class="col0">10</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> komme später, heb mir ne portion auf                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row9">
		<td class="col0">11</td><td class="col1">Matze</td><td class="col2 leftalign"> Dabei Dabei!                    </td><td class="col3 leftalign"> Niemals                     </td>
	</tr>
	<tr class="row10">
		<td class="col0">12</td><td class="col1">Gummi </td><td class="col2 leftalign"> *hust*                         </td><td class="col3 leftalign"> not.                        </td>
	</tr>
	<tr class="row11">
		<td class="col0">13</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row12">
		<td class="col0">14</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row13">
		<td class="col0">15</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row14">
		<td class="col0">16</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
</table></div>
<!-- EDIT44 TABLE [17825-19273] -->
</div>
<!-- EDIT43 SECTION "Zusagen" [17807-19274] -->
<h2 class="sectionedit45" id="absagen8">Absagen</h2>
<div class="level2">
<div class="table sectionedit46"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person		</th><th class="col1 centeralign">  Bemerkung  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> Kirby		</td><td class="col1 leftalign"> Kein Bock aber geht mit Marf einkaufen			</td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
</table></div>
<!-- EDIT46 TABLE [19293-19404] -->
</div>
<!-- EDIT45 SECTION "Absagen" [19275-19406] -->
<h1 class="sectionedit47" id="mampf_am_montag_den_171011">MAMPF  am Montag, den 17.10.11</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit: </strong> 19.30</div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> selbst gemachte Maultaschen in Brühe</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Kartoffelsalat (Lenny)</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Pudding + Kekse + Bananen…</div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein): </strong> kann ich machen, wenn einer will</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich):</strong> 2450 Chilenische Pesos</div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: Kirby will^^ </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Helfer (ca. 1 Stunde früher):</strong> Lenny</div>
</li>
</ul>

</div>
<!-- EDIT47 SECTION "MAMPF  am Montag, den 17.10.11" [19407-19861] -->
<h2 class="sectionedit48" id="zusagen9">Zusagen</h2>
<div class="level2">
<div class="table sectionedit49"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">TTOG  </td><td class="col2 leftalign"> TTOG, TTOG Who&#039;s There?        </td><td class="col3 leftalign"> …    </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1">Matze </td><td class="col2 leftalign"> It&#039;s me, I kill you!           </td><td class="col3"> Ess ich ganz gerne, am liebsten Rind und Schwein. </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Kirby  </td><td class="col2 leftalign"> Flausch me and i kill you for sure                              </td><td class="col3 centeralign">               Hat zu wenig K/cal              </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">marf  </td><td class="col2 leftalign"> Leer - und das soll sich ändern!                              </td><td class="col3 leftalign"> Was kostet der denn im Unterhalt?                           </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Lenny  </td><td class="col2"> mache den Kartoffelsalat und </td><td class="col3"> bin trotzdem keiner </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Dante  </td><td class="col2 centeralign">  Ja                              </td><td class="col3 centeralign">   Nein                          </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1">Niklas </td><td class="col2 leftalign"> -                              </td><td class="col3"> Mein Essen scheißt auf dein Essen </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1">Anca </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Franzi      </td><td class="col2 leftalign"> Sarah-Ersatz                               </td><td class="col3 leftalign"> nöps                         </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row13">
		<td class="col0">13</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row14">
		<td class="col0">14</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row15">
		<td class="col0">15</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
</table></div>
<!-- EDIT49 TABLE [19880-21194] -->
</div>
<!-- EDIT48 SECTION "Zusagen" [19862-21195] -->
<h2 class="sectionedit50" id="absagen9">Absagen</h2>
<div class="level2">
<div class="table sectionedit51"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person		</th><th class="col1 centeralign">  Bemerkung  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> Sarahlie	</td><td class="col1 leftalign"> Zonk :´(		</td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> Gummilie      </td><td class="col1"> Heut&#039; net, nächstes Mal wieder </td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
</table></div>
<!-- EDIT51 TABLE [21214-21333] -->
</div>
<!-- EDIT50 SECTION "Absagen" [21196-21336] -->
<h1 class="sectionedit52" id="mampf_am_montag_den_101011">MAMPF  am Montag, den 10.10.11</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit: </strong> 19.00 </div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> -  </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Kartoffelauflauf  </div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Wurstsalat  </div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> muss ich mir noch überlegen  </div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein): </strong> Kartoffelauflauf  Ja, Wurstsalat Nein   </div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich): </strong> 79 Uruguayischer Peso  </div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: </strong> MARF ( muss nicht abwaschen \o/ )  </div>
</li>
</ul>

</div>
<!-- EDIT52 SECTION "MAMPF  am Montag, den 10.10.11" [21337-21756] -->
<h2 class="sectionedit53" id="zusagen10">Zusagen</h2>
<div class="level2">
<div class="table sectionedit54"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1"> TTOG </td><td class="col2 leftalign"> Mampfmampfmampf                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1">Niklas</td><td class="col2 leftalign"> der erste                      </td><td class="col3 leftalign">^^                          </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1">Sarah </td><td class="col2 leftalign"> die tollste <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)" />                </td><td class="col3 leftalign"> niemals nie, nicht!                       </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Lenny  </td><td class="col2"> Alkohol, Drogen und Hartgeldnutten </td><td class="col3"> NIEMALS </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1">Franzi</td><td class="col2">kein Alkohol</td><td class="col3">nein</td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Kirby  </td><td class="col2 centeralign">    Mehr mampfen hat der Arzt gesagt                           </td><td class="col3 centeralign">  Man findet keine Freund mit Salat xD                           </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">marf  </td><td class="col2 leftalign"> der flauschigste                              </td><td class="col3 leftalign"> FLEISCH!!                            </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Roman  </td><td class="col2 centeralign">   letztendlich angemeldet    </td><td class="col3 centeralign">  nop                           </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Gummi  </td><td class="col2 leftalign"> baerchen                      </td><td class="col3 centeralign">  not                        </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -                              </td><td class="col3 centeralign">     nup                        </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row13">
		<td class="col0">13</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row14">
		<td class="col0">14</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row15">
		<td class="col0">15</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
</table></div>
<!-- EDIT54 TABLE [21775-23007] -->
</div>
<!-- EDIT53 SECTION "Zusagen" [21757-23008] -->
<h2 class="sectionedit55" id="absagen10">Absagen</h2>
<div class="level2">
<div class="table sectionedit56"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person		</th><th class="col1 centeralign">  Bemerkung  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
</table></div>
<!-- EDIT56 TABLE [23027-23084] -->
</div>
<!-- EDIT55 SECTION "Absagen" [23009-23087] -->
<h1 class="sectionedit57" id="mampf_am_montag_den_031011">MAMPF  am Montag, den 03.10.11</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit: 19.00 </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: - </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: selbstgemachte Frikadellen</strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: Kartoffeln </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: Sarah *om nom…* </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein): Nope </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich): 184,59 Afghani </strong> </div>
</li>
</ul>

</div>
<!-- EDIT57 SECTION "MAMPF  am Montag, den 03.10.11" [23088-23400] -->
<h2 class="sectionedit58" id="zusagen11">Zusagen</h2>
<div class="level2">
<div class="table sectionedit59"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">TTOG  </td><td class="col2 leftalign"> MAMPFer                            </td><td class="col3 leftalign">                         </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign"> Dante  </td><td class="col2 leftalign"> Zweiter! .o/                             </td><td class="col3 leftalign"> Bumsfalara                            </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Sarah  </td><td class="col2 centeralign">   trau mich net                       </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Kirby  </td><td class="col2 leftalign"> Diesmal kommt er wirklich… und zwar quer übern Tisch <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)" />                              </td><td class="col3 leftalign"> $Vegetarierwitz                            </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">marf  </td><td class="col2 leftalign"> in farbe… und BUNT!                              </td><td class="col3 leftalign"> kann man die essen?                            </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Niklas  </td><td class="col2 leftalign"> von marf geworben $-)                               </td><td class="col3 leftalign"> nöpe                            </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Lenny  </td><td class="col2"> cheers </td><td class="col3"> NIEMALS </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Adrian  </td><td class="col2"> Doll, doll, doll. </td><td class="col3"> Wenn die Hölle zufriert. </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Manuel  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign"> nein                            </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Prinzesschen  </td><td class="col2 leftalign"> hat keinen Bock selbst zu kochen <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)" />    </td><td class="col3 leftalign"> nö                            </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Alex  </td><td class="col2 leftalign"> kommt vorbei, wenn aufgeräumt!     </td><td class="col3 leftalign">nö nö nö                    </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row13">
		<td class="col0">13</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row14">
		<td class="col0">14</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row15">
		<td class="col0">15</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
</table></div>
<!-- EDIT59 TABLE [23419-24732] -->
</div>
<!-- EDIT58 SECTION "Zusagen" [23401-24733] -->
<h2 class="sectionedit60" id="absagen11">Absagen</h2>
<div class="level2">
<div class="table sectionedit61"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person		</th><th class="col1 centeralign">  Bemerkung  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> Anca		</td><td class="col1 leftalign"> im Hotel Mama			</td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
</table></div>
<!-- EDIT61 TABLE [24752-24837] -->
</div>
<!-- EDIT60 SECTION "Absagen" [24734-24839] -->
<h1 class="sectionedit62" id="mampf_am_montag_den_260911">MAMPF  am Montag, den 26.09.11</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit:</strong> 19.00</div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise:</strong> vielleicht mal wieder ne Tomatensuppe</div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht:</strong> Noch nicht fest, ich überlege Blätterteigtaschen zumachen…</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage:</strong> ich habe keinen Plan</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch:</strong> wollte glaub ich Sarah machen</div>
</li>
<li class="level1"><div class="li"> <strong>Vegetarisch (Ja/Nein):</strong> Jop</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten pro Person (wahrscheinlich):</strong> 318 Yen</div>
</li>
</ul>

</div>
<!-- EDIT62 SECTION "MAMPF  am Montag, den 26.09.11" [24840-25223] -->
<h2 class="sectionedit63" id="zusagen12">Zusagen</h2>
<div class="level2">
<div class="table sectionedit64"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1">Person</th><th class="col2">Bemerkung</th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 centeralign">  TTOG  </td><td class="col2 leftalign"> Koffeinjunkie                  </td><td class="col3"></td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 centeralign">  Matze  </td><td class="col2 leftalign"> Teeinjunkie (kann sein, dass ich kurzfristig absagen muss, je nach dem wie lang ich arbeiten muss)        </td><td class="col3"> NIEMALS</td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 centeralign">  marf  </td><td class="col2"> kann jmd. euro in yen wechseln? :o) </td><td class="col3"> Fleisch ist mein Gemüse</td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 centeralign">  Kirby  </td><td class="col2 leftalign"> Nikotinjunkie                              </td><td class="col3"> Wenn Sarah der Nachtisch ist welchen Teil kriegt dann der Vegetarier? </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 centeralign">  Dante  </td><td class="col2 leftalign"> <a href="http://www.youtube.com.ipv4.sixxs.org/watch?v=rW5DCOCppg8" class="urlextern" title="http://www.youtube.com.ipv4.sixxs.org/watch?v=rW5DCOCppg8" rel="nofollow"> dudeldideldadeldei</a>     </td><td class="col3"></td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 centeralign">  Lenny  </td><td class="col2"> Jetzt endlich in die richtige Liste eingetragen xD</td><td class="col3"> NIEMALS</td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 centeralign">  Sarah  </td><td class="col2 leftalign"> macht Nachtisch. <img src="/lib/images/smileys/icon_smile.gif" class="icon" alt=":-)" />          </td><td class="col3"> Näinäinäi! </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 centeralign">  Gummi  </td><td class="col2"> Ernährungsplan auf Esspapier? </td><td class="col3"> <a href="http://www.youtube.com.ipv4.sixxs.org/watch?v=-3tmvDqiP-c" class="urlextern" title="http://www.youtube.com.ipv4.sixxs.org/watch?v=-3tmvDqiP-c" rel="nofollow">http://www.youtube.com.ipv4.sixxs.org/watch?v=-3tmvDqiP-c</a></td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 centeralign">  Anca  </td><td class="col2 leftalign"> hat nichts zu sagen           </td><td class="col3 leftalign">  </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 centeralign">  Adrian  </td><td class="col2 leftalign"> Erasmusgeplagter                             </td><td class="col3"> Sind auch nur Menschen… </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 centeralign">  Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 centeralign">  Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row13">
		<td class="col0">13</td><td class="col1 centeralign">  Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row14">
		<td class="col0">14</td><td class="col1 centeralign">  Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row15">
		<td class="col0">15</td><td class="col1 centeralign">  Leer  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
</table></div>
<!-- EDIT64 TABLE [25243-26548] -->
</div>
<!-- EDIT63 SECTION "Zusagen" [25224-26550] -->
<h2 class="sectionedit65" id="absagen12">Absagen</h2>
<div class="level2">
<div class="table sectionedit66"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person  </th><th class="col1 rightalign">  Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0"> <span style='color:black; background-color:red;'> Franzi </span> </td><td class="col1"> Heimmampfer</td>
	</tr>
	<tr class="row2">
		<td class="col0">JD </td><td class="col1"> Zu diesem Zeitpunkt hoffentlich total stoked</td>
	</tr>
	<tr class="row3">
		<td class="col0">Bunny </td><td class="col1"> übers we (inkl. montag) net da</td>
	</tr>
	<tr class="row4">
		<td class="col0">Kirby </td><td class="col1">Essen beim Heimmampfer die hat mich wenigstens lieb <img src="/lib/images/smileys/icon_razz.gif" class="icon" alt=":-P" /></td>
	</tr>
	<tr class="row5">
		<td class="col0">Alex </td><td class="col1">unterstützt die K1 Bar beim Einkaufen ;) </td>
	</tr>
</table></div>
<!-- EDIT66 TABLE [26570-26855] -->
</div>
<!-- EDIT65 SECTION "Absagen" [26551-26855] -->
<h1 class="sectionedit67" id="mampf_am_montag_den_190911">MAMPF am Montag, den 19.09.11</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> Uhrzeit: 17.30 (richtig gelesen, wirklich so früh, kann leider nichts dran ändern, Flurversammlung ist um 19.00)</div>
</li>
<li class="level1"><div class="li"> Vorspeise: -</div>
</li>
<li class="level1"><div class="li"> Hauptgericht: Gnocchi Auflauf</div>
</li>
<li class="level1"><div class="li"> Beilage:  irgendeinen Salat (Tomate/Gurke/Grünzeug usw.) </div>
</li>
<li class="level1"><div class="li"> Nachtisch: Tiramisú</div>
</li>
<li class="level1"><div class="li"> Vegetarisch (Ja/Nein): Jop</div>
</li>
<li class="level1"><div class="li"> Kosten pro Person (wahrscheinlich): 3 Kamele</div>
</li>
</ul>

</div>
<!-- EDIT67 SECTION "MAMPF am Montag, den 19.09.11" [26856-27238] -->
<h2 class="sectionedit68" id="zusagen13">Zusagen</h2>
<div class="level2">
<div class="table sectionedit69"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">TTOG  </td><td class="col2 leftalign"> unfreiwilliger Kleingeldsammler   </td><td class="col3"> …</td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> kann auch nur bis 19h          </td><td class="col3"> nö</td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1">Sarah </td><td class="col2 leftalign"> jamjamjam…                  </td><td class="col3"> Narrrp.</td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1">Bunny </td><td class="col2 leftalign"> Wenns was vegetarisches gibt   </td><td class="col3"> Jap.</td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1">Adrian </td><td class="col2"> <a href="http://www.smileydressup.com.ipv4.sixxs.org/cooking/1477/gnocchi" class="urlextern" title="http://www.smileydressup.com.ipv4.sixxs.org/cooking/1477/gnocchi" rel="nofollow">http://www.smileydressup.com.ipv4.sixxs.org/cooking/1477/gnocchi</a> </td><td class="col3"> Die Vernunft beginnt bereits in der Küche.</td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1">Matze </td><td class="col2"> Das ist ja schon fast mittagessen</td><td class="col3">Niemals</td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">JD  </td><td class="col2 leftalign"> Gemeiner Kleingeldgeber          </td><td class="col3"> nö</td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">marf  </td><td class="col2 leftalign"> G. Heimrat                              </td><td class="col3"> bin doch kein Schaf</td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Dante  </td><td class="col2 leftalign"> hoffentlich nicht zu spät :/                              </td><td class="col3"> </td>
	</tr>
</table></div>
<!-- EDIT69 TABLE [27258-27885] -->
</div>
<!-- EDIT68 SECTION "Zusagen" [27239-27886] -->
<h2 class="sectionedit70" id="absagen13">Absagen</h2>
<div class="level2">
<div class="table sectionedit71"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person                              </th><th class="col1"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0"> <span style='color:black; background-color:red;'> Franzi </span> </td><td class="col1"> Welnessurlaub im Banoi Resort</td>
	</tr>
	<tr class="row2">
		<td class="col0"> Alex </td><td class="col1"> Barteamsprechersitzung</td>
	</tr>
	<tr class="row3">
		<td class="col0"> Padi </td><td class="col1"> dito</td>
	</tr>
</table></div>
<!-- EDIT71 TABLE [27905-28073] -->
</div>
<!-- EDIT70 SECTION "Absagen" [27887-28075] -->
<h1 class="sectionedit72" id="mampf_am_montag_den_120911">MAMPF am Montag, den 12.09.11</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> Uhrzeit: 19.00</div>
</li>
<li class="level1"><div class="li"> Vorspeise: -</div>
</li>
<li class="level1"><div class="li"> Hauptgericht: Feurige Reispfanne (oder auch ohne Schärfe für, Menschen die noch nicht alle Geschmacksnerven zerstört haben…)</div>
</li>
<li class="level1"><div class="li"> Beilage: Yum Yum Salat</div>
</li>
<li class="level1"><div class="li"> Nachtisch: Apfelkuchen (Warnung^ Enthält Äpfel)</div>
</li>
<li class="level1"><div class="li"> Vegetarisch (Ja/Nein): Jop</div>
</li>
<li class="level1"><div class="li"> Kosten pro Person (wahrscheinlich): 3€</div>
</li>
</ul>

</div>
<!-- EDIT72 SECTION "MAMPF am Montag, den 12.09.11" [28076-28448] -->
<h2 class="sectionedit73" id="zusagen14">Zusagen</h2>
<div class="level2">
<div class="table sectionedit74"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2 rightalign">  Bemerkung </th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 centeralign">  TTOG  </td><td class="col2"> <a href="http://www.allmystery.de.ipv4.sixxs.org/dateien/vo62061,1271498684,flying-spaghetti-monster.jpg" class="urlextern" title="http://www.allmystery.de.ipv4.sixxs.org/dateien/vo62061,1271498684,flying-spaghetti-monster.jpg" rel="nofollow">http://www.allmystery.de.ipv4.sixxs.org/dateien/vo62061,1271498684,flying-spaghetti-monster.jpg</a> übernatürliches Wesen und höhere Macht] </td><td class="col3"> Zur Not </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 rightalign">  Matze </td><td class="col2 leftalign"> am Start                   </td><td class="col3"> Nein</td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 centeralign">  Anca  </td><td class="col2 leftalign"> -                              </td><td class="col3 leftalign">                             </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 centeralign">  Kirby  </td><td class="col2 leftalign"> Der Nachtisch ohne Sahne bitte                        </td><td class="col3 rightalign">  So nen Zeug brauch ich net</td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 centeralign">  Carlos  </td><td class="col2 leftalign"> der Puff-PIMP                              </td><td class="col3"> NIEMALS</td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 rightalign">  Sarah </td><td class="col2 leftalign"> -                              </td><td class="col3"> narrrp.</td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 centeralign">  Dante  </td><td class="col2 leftalign"> düdeldidelü                             </td><td class="col3"> blubb?</td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 rightalign">  Gummi </td><td class="col2 leftalign"> ohne kostet extra              </td><td class="col3"> jarrrp…not.</td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 rightalign">  Bunny </td><td class="col2 leftalign"> *om*nom*nom*nom*               </td><td class="col3"> JAAAAAAA</td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 centeralign">  Prinzesschen  </td><td class="col2 leftalign"> -                              </td><td class="col3"> nöö</td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 centeralign">  JD  </td><td class="col2 leftalign"> -                              </td><td class="col3"> nop </td>
	</tr>
</table></div>
<!-- EDIT74 TABLE [28467-29323] -->
</div>
<!-- EDIT73 SECTION "Zusagen" [28449-29325] -->
<h2 class="sectionedit75" id="absagen14">Absagen</h2>
<div class="level2">
<div class="table sectionedit76"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0"> Person </th><th class="col1"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0"> <span style='color:black; background-color:red;'> Franzi </span> </td><td class="col1"> ist in Lampukistan</td>
	</tr>
	<tr class="row2">
		<td class="col0"> Chris </td><td class="col1"> Volleyball</td>
	</tr>
	<tr class="row3">
		<td class="col0"> Alexa </td><td class="col1"> krank…<img src="/lib/images/smileys/icon_doubt.gif" class="icon" alt=":-/" /></td>
	</tr>
</table></div>
<!-- EDIT76 TABLE [29345-29470] -->
</div>
<!-- EDIT75 SECTION "Absagen" [29326-29472] -->
<h1 class="sectionedit77" id="mampf_am_montag_den_050911">MAMPF am Montag, den 05.09.11.</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> Uhrzeit: 19.00</div>
</li>
<li class="level1"><div class="li"> Vorspeise: mal sehn</div>
</li>
<li class="level1"><div class="li"> Hauptgericht: Gulasch</div>
</li>
<li class="level1"><div class="li"> Beilage: Brot</div>
</li>
<li class="level1"><div class="li"> Nachtisch: Sarah</div>
</li>
<li class="level1"><div class="li"> Vegetarisch (Ja/Nein): Nein, werd aber irgendwas vegetarisches dazu machen</div>
</li>
<li class="level1"><div class="li"> Kosten pro Person (wahrscheinlich): 3€</div>
</li>
</ul>

</div>
<!-- EDIT77 SECTION "MAMPF am Montag, den 05.09.11." [29473-29750] -->
<h2 class="sectionedit78" id="zusagen15">Zusagen</h2>
<div class="level2">
<div class="table sectionedit79"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign"> TTOG   </td><td class="col2 leftalign"> Koch, Gott, Großmeister, Syphilis-Züchter, usw.   </td><td class="col3"> Nein</td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 centeralign">  Adrian  </td><td class="col2 leftalign"> „Großer“ Esser, Messerdiener  </td><td class="col3"> Ohne Fleisch, kein Fleisch</td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 rightalign">  Manuel </td><td class="col2 leftalign">                           </td><td class="col3"> Nein</td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 centeralign">  Prinzesschen  </td><td class="col2"> </td><td class="col3"> nöö</td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Sarah  </td><td class="col2 leftalign"> -  Nachtisch                    </td><td class="col3"> Nää</td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 centeralign">  Padi   </td><td class="col2 leftalign"> - Spülboy                              </td><td class="col3 rightalign">  Pffffffff wasn das</td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign"> Lenny  </td><td class="col2 leftalign"> Küchensklave - Ohne Mampf kein Kampf                        </td><td class="col3"> NIEMALS</td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign"> Toad   </td><td class="col2 leftalign"> der aus Mario Kart                             </td><td class="col3"> Ja</td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign"> marf   </td><td class="col2 leftalign"> ich bin wichtig                             </td><td class="col3"> pfui</td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1"> Tobias </td><td class="col2 leftalign"> wie schmeckt denn Sarah? *g*        </td><td class="col3"> nein</td>
	</tr>
</table></div>
<!-- EDIT79 TABLE [29770-30449] -->
</div>
<!-- EDIT78 SECTION "Zusagen" [29751-30451] -->
<h2 class="sectionedit80" id="absagen15">Absagen</h2>
<div class="level2">
<div class="table sectionedit81"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0"> Person </th><th class="col1"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0"> <span style='color:black; background-color:red;'> Franzi </span> </td><td class="col1"> öhm, hat doofe Ohren</td>
	</tr>
	<tr class="row2">
		<td class="col0">JD </td><td class="col1"> Nich da</td>
	</tr>
	<tr class="row3">
		<td class="col0">TmgV </td><td class="col1"> weit weit weg</td>
	</tr>
	<tr class="row4">
		<td class="col0"> Bunny </td><td class="col1"> Gibt ja nix vegetarisches <img src="/lib/images/smileys/icon_sad.gif" class="icon" alt=":-(" /> </td>
	</tr>
</table></div>
<!-- EDIT81 TABLE [30471-30634] -->
</div>
<!-- EDIT80 SECTION "Absagen" [30452-30636] -->
<h1 class="sectionedit82" id="mampf_am_montag_den_290811">MAMPF am Montag, den 29.08.11.</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> Uhrzeit: 19.00</div>
</li>
<li class="level1"><div class="li"> Vorspeise: -</div>
</li>
<li class="level1"><div class="li"> Hauptgericht: Kassler mit Sauerkraut</div>
</li>
<li class="level1"><div class="li"> Beilage: Kartoffeln</div>
</li>
<li class="level1"><div class="li"> Nachtisch: übernimmt Sarah</div>
</li>
<li class="level1"><div class="li"> Vegetarisch (Ja/Nein): Nein, werd aber irgendwas vegetarisches dazu machen</div>
</li>
<li class="level1"><div class="li"> Kosten pro Person (wahrscheinlich): 3€</div>
</li>
</ul>

</div>
<!-- EDIT82 SECTION "MAMPF am Montag, den 29.08.11." [30637-30939] -->
<h2 class="sectionedit83" id="zusagen16">Zusagen</h2>
<div class="level2">
<div class="table sectionedit84"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2 rightalign">  Bemerkung </th><th class="col3"> Vegetarier? </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign"> TTOG   </td><td class="col2 leftalign"> Koch, Gott, Großmeister usw.   </td><td class="col3"> Nein</td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign"> Lenny  </td><td class="col2 leftalign"> Küchengehilfe                  </td><td class="col3"> Niemals</td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign"> Gummi  </td><td class="col2 leftalign"> Baerchen                       </td><td class="col3"> Nö</td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign"> Matze  </td><td class="col2 leftalign"> (TmgV)                         </td><td class="col3"> Fleisch ist mein Gemüse</td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign"> Padi   </td><td class="col2 leftalign"> Spülboy                        </td><td class="col3"> Was den das kann man das essen?</td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign"> Sarah  </td><td class="col2 leftalign"> Nachtisch - hat angesagt       </td><td class="col3"> Näääää</td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign"> JD     </td><td class="col2 leftalign"> Nachbar von Gott               </td><td class="col3"> Antivegetarier</td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign"> Chris  </td><td class="col2 leftalign"> Pizzatyp                       </td><td class="col3"> Glaube nicht</td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign"> Bunny  </td><td class="col2 leftalign"> Quotenvegetarier               </td><td class="col3"> Für irgendwen muss die Spalte doch da sein</td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign"> Chris +1  </td><td class="col2 leftalign"> -                              </td><td class="col3"> glaube nicht</td>
	</tr>
</table></div>
<!-- EDIT84 TABLE [30958-31655] -->
</div>
<!-- EDIT83 SECTION "Zusagen" [30940-31656] -->
<h2 class="sectionedit85" id="absagen16">Absagen</h2>
<div class="level2">
<div class="table sectionedit86"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0 leftalign"> Person		</th><th class="col1 centeralign">  Bemerkung  </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
	<tr class="row2">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
	<tr class="row3">
		<td class="col0 leftalign"> LEER		</td><td class="col1 leftalign"> -			</td>
	</tr>
</table></div>
<!-- EDIT86 TABLE [31675-31748] --><hr />

<p>
<a href="/doku.php?id=mampf" class="wikilink1" title="mampf">mampf</a>
</p>

</div>
<!-- EDIT85 SECTION "Absagen" [31657-] -->