
<h1 class="sectionedit1" id="mampf_am_2911_faellt_aus">MAMPF am 29.11. FÄLLT AUS!</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> Flädlesuppe</div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Käsespätzle</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong></div>
</li>
</ul>

</div>
<!-- EDIT1 SECTION "MAMPF am 29.11. FÄLLT AUS!" [2-227] -->
<h2 class="sectionedit2" id="zusagen">Zusagen</h2>
<div class="level2">
<div class="table sectionedit3"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">pony  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Leer  </td><td class="col2"> Einkäufer Platz (Ohne Einkäufer findet kein Mampf statt) </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Alex  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT3 TABLE [246-1165] -->
</div>
<!-- EDIT2 SECTION "Zusagen" [228-1166] -->
<h1 class="sectionedit4" id="mampf_am_2211_um_1900_uhr_auf_f2">MAMPF am 22.11. um 19.00 Uhr auf F2</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Kürbis-Kastanien-Hackfleisch-Auflauf (noch ein Rezept von Mama)</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Sophia; hat 12,12 € gekostet</div>
</li>
</ul>

</div>
<!-- EDIT4 SECTION "MAMPF am 22.11. um 19.00 Uhr auf F2" [1167-1470] -->
<h2 class="sectionedit5" id="zusagen1">Zusagen</h2>
<div class="level2">
<div class="table sectionedit6"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Silas  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Soφ   </td><td class="col2"> Einkäufer Platz (Ohne Einkäufer findet kein Mampf statt) </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1">Thomas</td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Ralf  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Alex  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Eva F206  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1">Jd </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Dan  </td><td class="col2"> Komm erst um 17:25 wieder in KA an; Ich hoffe der Bus hat keine Verspätung…</td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT6 TABLE [1489-2455] -->
</div>
<!-- EDIT5 SECTION "Zusagen" [1471-2457] -->
<h1 class="sectionedit7" id="hadilan-ueberlebenden-mampf_am_1511_um_1900_uhr_auf_f2">Hadilan-Überlebenden-MAMPF am 15.11. um 19.00 Uhr auf F2</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Eintopf mit Gemüse, Würschtle und Dinkelklöschen(nach Mama&#039;s Rezept)</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Anca 17,86 euros</div>
</li>
</ul>

</div>
<!-- EDIT7 SECTION "Hadilan-Überlebenden-MAMPF am 15.11. um 19.00 Uhr auf F2" [2458-2775] -->
<h2 class="sectionedit8" id="zusagen2">Zusagen</h2>
<div class="level2">
<div class="table sectionedit9"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Darth pony  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Anca  </td><td class="col2"> Einkäufer Platz (Ohne Einkäufer findet kein Mampf statt) </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> -                         </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">JD  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Fabian  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Ben  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1">Katze </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Dan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT9 TABLE [2794-3712] -->
</div>
<!-- EDIT8 SECTION "Zusagen" [2776-3713] -->
<h1 class="sectionedit10" id="mampf_am_111_um_1900_uhr_auf_f2">MAMPF am 1.11. um 19.00 Uhr auf F2</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Lasagne</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Dan (29€)</div>
</li>
</ul>

</div>
<!-- EDIT10 SECTION "MAMPF am 1.11. um 19.00 Uhr auf F2" [3714-3940] -->
<h2 class="sectionedit11" id="zusagen3">Zusagen</h2>
<div class="level2">
<div class="table sectionedit12"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Darth pony  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Dan  </td><td class="col2"> Einkäufer Platz (mit klaren Anweisungen bitte) </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">JD  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Urs  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT12 TABLE [3959-4871] -->
</div>
<!-- EDIT11 SECTION "Zusagen" [3941-4873] -->
<h1 class="sectionedit13" id="mampf_am_1110_um_1900_uhr_auf_f2">MAMPF am 11.10. um 19.00 Uhr auf F2</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Käsefondue</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Jonathan (21€)</div>
</li>
</ul>

</div>
<!-- EDIT13 SECTION "MAMPF am 11.10. um 19.00 Uhr auf F2" [4874-5111] -->
<h2 class="sectionedit14" id="zusagen4">Zusagen</h2>
<div class="level2">
<div class="table sectionedit15"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Darth Ponynator  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Jonathan  </td><td class="col2"> Einkäufer Platz (Ohne Einkäufer findet kein Mampf statt) </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Yen F2  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Kevin F210  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Tjeri  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT15 TABLE [5130-6071] -->
</div>
<!-- EDIT14 SECTION "Zusagen" [5112-6074] -->
<h1 class="sectionedit16" id="mampf_am_sonntag_041015_um_1900_uhr_wattkopfstr_68_anmeldung_bis_do_24_uhr">MAMPF am Sonntag 04.10.15 um 19.00 Uhr Wattkopfstr. 68 (Anmeldung bis DO 24 Uhr!)</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Racklette</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Bananenracklette</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Jonathan (18€)</div>
</li>
</ul>

</div>
<!-- EDIT16 SECTION "MAMPF am Sonntag 04.10.15 um 19.00 Uhr Wattkopfstr. 68 (Anmeldung bis DO 24 Uhr!)" [6075-6315] -->
<h2 class="sectionedit17" id="zusagen5">Zusagen</h2>
<div class="level2">
<div class="table sectionedit18"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Alex  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT18 TABLE [6334-6960] -->
</div>
<!-- EDIT17 SECTION "Zusagen" [6316-6963] -->
<h1 class="sectionedit19" id="mampf_am_sonntag_269_um_1900_uhr_auf_f2">MAMPF am Sonntag 26.9. um 19.00 Uhr auf F2</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Zwiebelkuchen mit neuem Wein </div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Kirby (10€) Silas (4€)</div>
</li>
</ul>

</div>
<!-- EDIT19 SECTION "MAMPF am Sonntag 26.9. um 19.00 Uhr auf F2" [6964-7235] -->
<h2 class="sectionedit20" id="zusagen6">Zusagen</h2>
<div class="level2">
<div class="table sectionedit21"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Silas  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Kirby  </td><td class="col2"> Einkäufer Platz (Mit Einkäufer findet auch ein Mampf statt <img src="/lib/images/smileys/icon_wink.gif" class="icon" alt=";-)" /> ) </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">UAHRS  </td><td class="col2 leftalign"> Helf0r                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Dan  </td><td class="col2 leftalign"> Graf DanCula                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1">Ben</td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT21 TABLE [7254-8187] -->
</div>
<!-- EDIT20 SECTION "Zusagen" [7236-8191] -->
<h1 class="sectionedit22" id="mampf_am_69_um_1900_uhr_auf_f2">MAMPF am 6.9. um 19.00 Uhr auf F2</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Quiche Lorraine</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Salat</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Bringe Trauben von meiner Oma mit (Jonathan)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Dan (16€)</div>
</li>
</ul>

</div>
<!-- EDIT22 SECTION "MAMPF am 6.9. um 19.00 Uhr auf F2" [8192-8420] -->
<h2 class="sectionedit23" id="zusagen7">Zusagen</h2>
<div class="level2">
<div class="table sectionedit24"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">pony  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Dan  </td><td class="col2"> Einkäufer Platz (Ohne Einkäufer findet kein Mampf statt) </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1">Jonathan</td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">JD  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Duc  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1">Ben </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT24 TABLE [8439-9354] -->
</div>
<!-- EDIT23 SECTION "Zusagen" [8421-9358] -->
<h1 class="sectionedit25" id="mampf_am_308_um_1900_uhr_auf_f2">MAMPF am 30.8. um 19.00 Uhr auf F2</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Linsen mit Spätzle und Saitenwürsten (Soidewürschd)</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Ralf 9.22€</div>
</li>
</ul>

</div>
<!-- EDIT25 SECTION "MAMPF am 30.8. um 19.00 Uhr auf F2" [9359-9633] -->
<h2 class="sectionedit26" id="zusagen8">Zusagen</h2>
<div class="level2">
<div class="table sectionedit27"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">pony  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Ralf  </td><td class="col2"> Einkäufer Platz (Ohne Einkäufer findet kein Mampf statt) </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1">Ben</td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">JD  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Uraaaaaahrs  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT27 TABLE [9652-10562] -->
</div>
<!-- EDIT26 SECTION "Zusagen" [9634-10564] -->
<h1 class="sectionedit28" id="mampf_am_2208_um_1900_uhr_bei_anca_ebertsstrasse_28">MAMPF am 22.08 um 19.00 Uhr bei Anca (Ebertsstraße 28)</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Kötbullar mit Kartoffeln und Gemüse</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Paddy</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Jan 12,10€</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten: </strong> </div>
</li>
</ul>

</div>
<!-- EDIT28 SECTION "MAMPF am 22.08 um 19.00 Uhr bei Anca (Ebertsstraße 28)" [10565-10810] -->
<h2 class="sectionedit29" id="zusagen9">Zusagen</h2>
<div class="level2">
<div class="table sectionedit30"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1">Anca </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Kirby  </td><td class="col2 centeralign">    Helfer Platz             </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">pony  </td><td class="col2 leftalign">                </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1">Björn </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT30 TABLE [10829-11415] -->
</div>
<!-- EDIT29 SECTION "Zusagen" [10811-11416] -->
<h1 class="sectionedit31" id="mampf_am_1907_um_1900_uhr_auf_f2">MAMPF am 19.07. um 19.00 Uhr auf F2</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Ramen (mit Fleisch und Gemüsebrühe)</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Duc</div>
</li>
<li class="level1"><div class="li"> <strong>Kosten: </strong> 30 €</div>
</li>
</ul>

</div>
<!-- EDIT31 SECTION "MAMPF am 19.07. um 19.00 Uhr auf F2" [11417-11690] -->
<h2 class="sectionedit32" id="zusagen10">Zusagen</h2>
<div class="level2">
<div class="table sectionedit33"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">ponynator  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Duc   </td><td class="col2 leftalign"> Einkäufer                      </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Ralf  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Ben  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Marc  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Mohsen F211  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Dan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Urs  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT33 TABLE [11709-12610] -->
</div>
<!-- EDIT32 SECTION "Zusagen" [11691-12613] -->
<h1 class="sectionedit34" id="mampf_am_sonntag_76_um_1900_uhr_bei_anca">MAMPF am Sonntag, 7.6. um 19.00 Uhr bei Anca</h1>
<div class="level1">

<p>
<strong>Adresse: Ebertstraße 28</strong>
</p>
<ul>
<li class="level1"><div class="li"> <strong>Hauptgericht: vegetarische Paella ohne Fisch und Fleisch</strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> super geiles Banana-Schoko-Split mit Schokosauce</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Anca</div>
</li>
<li class="level1"><div class="li"> <strong>Koschte:</strong> 12 Euros</div>
</li>
</ul>

</div>
<!-- EDIT34 SECTION "MAMPF am Sonntag, 7.6. um 19.00 Uhr bei Anca" [12614-12905] -->
<h2 class="sectionedit35" id="zusagen11">Zusagen</h2>
<div class="level2">
<div class="table sectionedit36"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">pony  </td><td class="col2 leftalign"> Diktator Platz  </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Jan  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Kirby  </td><td class="col2 leftalign"> obligatorischer Platz                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> Finanzer Platz                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT36 TABLE [12924-13547] -->
</div>
<!-- EDIT35 SECTION "Zusagen" [12906-13549] -->
<h1 class="sectionedit37" id="mampf_am_3105_um_1900_uhr_auf_f4">MAMPF am 31.05. um 19.00 Uhr auf F4</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> Salat</div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Geschnetzeltes mit Äpfeln </div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Kartoffeln</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Putri (15,98 Euro)</div>
</li>
</ul>

</div>
<!-- EDIT37 SECTION "MAMPF am 31.05. um 19.00 Uhr auf F4" [13550-13765] -->
<h2 class="sectionedit38" id="zusagen12">Zusagen</h2>
<div class="level2">
<div class="table sectionedit39"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1"> Putri </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Duc   </td><td class="col2 leftalign"> Einkäufer Platz  </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign"> Silas  </td><td class="col2 leftalign"> Kann nicht helfen. Bin vorher unterwegs.                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Ralf  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1">Jonathan </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT39 TABLE [13784-14674] -->
</div>
<!-- EDIT38 SECTION "Zusagen" [13766-14675] -->
<h1 class="sectionedit40" id="mampf_am_montag_255_um_1900_uhr_bei_ralf">MAMPF am Montag, 25.5. um 19:00 Uhr bei Ralf</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> gefüllte Tomaten</div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Putenschnitzel mit Zwiebelsosse</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Bandnudeln und Salat</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> BananenErdbeerSchokoJoghurt</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> mach&#039; ich selber. Summe 26.91 €. (3.56 € Vorspeise / 19.60 € Hauptgericht + Salat / 3.75 € Nachtisch)</div>
</li>
<li class="level1"><div class="li"> <strong>ACHTUNG: </strong> nur 5 Plätze!</div>
</li>
</ul>

</div>
<!-- EDIT40 SECTION "MAMPF am Montag, 25.5. um 19:00 Uhr bei Ralf" [14676-15076] -->
<h2 class="sectionedit41" id="zusagen13">Zusagen</h2>
<div class="level2">
<div class="table sectionedit42"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Palf  </td><td class="col2 leftalign"> Koch + Einkäufer               </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Silas  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1">Teufel </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT42 TABLE [15095-15352] -->
</div>
<!-- EDIT41 SECTION "Zusagen" [15077-15354] -->
<h1 class="sectionedit43" id="mampf_am_175_um_1900_uhr_auf_f4">MAMPF am 17.5. um 19.00 Uhr  auf F4</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Hackfleisch mit Cashew und Gemüse</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Reis</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> mach&#039; ich diesmal selber (12 Euro)</div>
</li>
</ul>

</div>
<!-- EDIT43 SECTION "MAMPF am 17.5. um 19.00 Uhr  auf F4" [15355-15637] -->
<h2 class="sectionedit44" id="zusagen14">Zusagen</h2>
<div class="level2">
<div class="table sectionedit45"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Putri  </td><td class="col2 leftalign"> Koch + Einkäufer                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Ralf  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Silas  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Philipp  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT45 TABLE [15656-16535] -->
</div>
<!-- EDIT44 SECTION "Zusagen" [15638-16536] -->
<h1 class="sectionedit46" id="mampf_am_35_um_1900_uhr_auf_f2">MAMPF am 3.5. um 19.00 Uhr  auf F2</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Pfludden</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Salat und danach Pfirsiche</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> mach&#039; ich diesmal selber.  → 11€</div>
</li>
</ul>

</div>
<!-- EDIT46 SECTION "MAMPF am 3.5. um 19.00 Uhr  auf F2" [16537-16815] -->
<h2 class="sectionedit47" id="zusagen15">Zusagen</h2>
<div class="level2">
<div class="table sectionedit48"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">pony  </td><td class="col2 leftalign"> Koch + Einkäufer                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Ralf  </td><td class="col2"> - </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">UAHRS  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT48 TABLE [16834-17707] -->
</div>
<!-- EDIT47 SECTION "Zusagen" [16816-17709] -->
<h1 class="sectionedit49" id="mampf_am_2903_um_1900_uhr_auf_f2">MAMPF am 29.03. um 19.00 Uhr auf F2</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong>Kürbis- Kartoffelsuppe mit Würschtle </div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> frisch gebackenes Holzofenbrot</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Muffins by Anca</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Ralf, 8.36 Euro</div>
</li>
</ul>

</div>
<!-- EDIT49 SECTION "MAMPF am 29.03. um 19.00 Uhr auf F2" [17710-17963] -->
<h2 class="sectionedit50" id="zusagen16">Zusagen</h2>
<div class="level2">
<div class="table sectionedit51"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">ponynator  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Ralf  </td><td class="col2 leftalign"> Einkäufer Platz  </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Jan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Kevin F210  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Björn  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Dan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT51 TABLE [17982-18838] -->
</div>
<!-- EDIT50 SECTION "Zusagen" [17964-18840] -->
<h1 class="sectionedit52" id="mampf_am_2203_um_18h_uhr_bei_anca">MAMPF am 22.03. um 18h Uhr bei Anca</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Rrratatatatullje mit Reis und wenn ich total motiviert bin Fleisch</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Reis</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: Duc</strong> (10 Euro)</div>
</li>
</ul>

</div>
<!-- EDIT52 SECTION "MAMPF am 22.03. um 18h Uhr bei Anca" [18841-19133] -->
<h2 class="sectionedit53" id="zusagen17">Zusagen</h2>
<div class="level2">
<div class="table sectionedit54"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Duc  </td><td class="col2"> Einkäufer Platz (Ohne Einkäufer findet kein Mampf statt) </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Jan  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">pony  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1">Frei </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1">Ralf</td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Björn  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Putri  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT54 TABLE [19152-19771] -->
</div>
<!-- EDIT53 SECTION "Zusagen" [19134-19773] -->
<h1 class="sectionedit55" id="mampf_am_1503_um_18uhr_auf_m6">MAMPF am 15.03. um 18Uhr auf M6</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong> -Lex Dan- : </strong> Ab einer halben Stunde Verspätung zählt es als „nicht erschienen“. Man darf direkt einen Nachtisch mitbringen, um seine Schulden sofort zu begleichen</div>
</li>
<li class="level1"><div class="li"> <strong>Uhrzeit: </strong> 18.00</div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong>  Toast Hawaii (Käse, Ananas, Schinken) und Toast Italia (Mozarelle, Käse, Salami)</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: </strong> Silas - 27€</div>
</li>
</ul>

</div>
<!-- EDIT55 SECTION "MAMPF am 15.03. um 18Uhr auf M6" [19774-20223] -->
<h2 class="sectionedit56" id="zusagen18">Zusagen</h2>
<div class="level2">
<div class="table sectionedit57"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Björn  </td><td class="col2 leftalign"> Koch      </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">pony   </td><td class="col2"> Einkäufer </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> Helfer 1   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -          </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> mag kein ananas. Vorschlag für weitere Alternativen: Oliven, Pfirsich…          </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Ralf  </td><td class="col2 leftalign"> Hoffentlich bis zum Mampf wieder in Karlsruhe      </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -          </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -          </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -          </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> Helfer 2   </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -          </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -          </td>
	</tr>
</table></div>
<!-- EDIT57 TABLE [20242-20982] -->
</div>
<!-- EDIT56 SECTION "Zusagen" [20224-20983] -->
<h1 class="sectionedit58" id="mampf_am_0803_um_19uhr_auf_f4">MAMPF am 08.03. um 19Uhr auf F4</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Uhrzeit: </strong> 19.00</div>
</li>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> Salat</div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong>  Spaghetti Bolognese</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkäufer: </strong> Duc (27€)</div>
</li>
</ul>

</div>
<!-- EDIT58 SECTION "MAMPF am 08.03. um 19Uhr auf F4" [20984-21254] -->
<h2 class="sectionedit59" id="zusagen19">Zusagen</h2>
<div class="level2">
<div class="table sectionedit60"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Putri  </td><td class="col2 leftalign"> Koch                             </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Duc   </td><td class="col2 leftalign"> Einkäufer &amp; Helfer                   </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> Kann auch den Helfer übernehmen  </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">pony  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Teufel  </td><td class="col2"> (Wenn nicht zu spät eingetragen …)</td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Björn   </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">UAHRS  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Ralf  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT60 TABLE [21273-22164] -->
</div>
<!-- EDIT59 SECTION "Zusagen" [21255-22165] -->
<h1 class="sectionedit61" id="mampf_am_0103_um_1900_uhr_bei_jonathan_wattkopfstr_68">MAMPF am 01.03. um 19.00 Uhr bei Jonathan (Wattkopfstr. 68)</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> Silas?  – Anmerkung von Silas: Nein, es gibt nicht mich zu essen, sondern Grießklöschensuppe.</div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Dorade</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Gemüsereis</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Macht Anca</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Jonathan (13€)</div>
</li>
</ul>

</div>
<!-- EDIT61 SECTION "MAMPF am 01.03. um 19.00 Uhr bei Jonathan (Wattkopfstr. 68)" [22166-22483] -->
<h2 class="sectionedit62" id="zusagen20">Zusagen</h2>
<div class="level2">
<div class="table sectionedit63"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> Koch                             </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Silas  </td><td class="col2 leftalign"> Helfer Platz                      </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -                                 </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Jan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT63 TABLE [22502-22985] -->
</div>
<!-- EDIT62 SECTION "Zusagen" [22484-22985] -->
<h1 class="sectionedit64" id="mampf_am_222_um_1800_uhr_auf_m6">MAMPF am 22.2. um 18:00 Uhr auf M6</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: — </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: Lasagne Bolognese</strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: — </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: — </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Putri (30€) </div>
</li>
</ul>

</div>
<!-- EDIT64 SECTION "MAMPF am 22.2. um 18:00 Uhr auf M6" [22986-23181] -->
<h2 class="sectionedit65" id="zusagen21">Zusagen</h2>
<div class="level2">
<div class="table sectionedit66"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Björn  </td><td class="col2 leftalign"> Koch                          </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Putri  </td><td class="col2 leftalign"> Einkäufer Platz                </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1">Teufel</td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1">Linda </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Fabi  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Ralf  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Duc  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Dan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">UAHRS  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1">Magnus</td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row13">
		<td class="col0">13</td><td class="col1 leftalign">Katharina  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row14">
		<td class="col0">14</td><td class="col1 leftalign">Sofiya  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row15">
		<td class="col0">15</td><td class="col1">Leer </td><td class="col2"> - </td>
	</tr>
</table></div>
<!-- EDIT66 TABLE [23200-24212] -->
</div>
<!-- EDIT65 SECTION "Zusagen" [23182-24213] -->
<h1 class="sectionedit67" id="mampf_am_152_um_1830_uhr_auf_f2">MAMPF am 15.2. um 18:30 Uhr auf F2</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: schwäbisches Schäufele (Schweineschulter)</strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: Spätzle und Sauerkraut</strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Jonathan bringt ne Kleinigkeit mit</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: 22,21€ </strong></div>
</li>
</ul>

</div>
<!-- EDIT67 SECTION "MAMPF am 15.2. um 18:30 Uhr auf F2" [24214-24474] -->
<h2 class="sectionedit68" id="zusagen22">Zusagen</h2>
<div class="level2">
<div class="table sectionedit69"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">pony  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Björn  </td><td class="col2"> Einkäufer Platz </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Thomas  </td><td class="col2"> Aargh, Anca hat mir meinen Helferplatz geklaut! </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> mag kein Sauerkraut                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1">Teufel </td><td class="col2 leftalign"> Hat eine Spätzlespress                             </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT69 TABLE [24493-25433] -->
</div>
<!-- EDIT68 SECTION "Zusagen" [24475-25436] -->
<h1 class="sectionedit70" id="mampf_am_12_um_1900_uhr_auf_f4">MAMPF am 1.2. um 19.00 Uhr auf F4</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Chicken Curry (nicht scharf)</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong> Reis</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Putri (32,50€)</div>
</li>
</ul>

</div>
<!-- EDIT70 SECTION "MAMPF am 1.2. um 19.00 Uhr auf F4" [25437-25693] -->
<h2 class="sectionedit71" id="zusagen23">Zusagen</h2>
<div class="level2">
<div class="table sectionedit72"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">Putri  </td><td class="col2 leftalign"> kocht.                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Leer  </td><td class="col2"> Einkäufer Platz (Ohne Einkäufer findet kein Mampf statt) </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">pony  </td><td class="col2 leftalign"> kann eventuell helfen, weiß aber noch nicht, wann ich komme.                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> Ich mag aber scharf <code>^^</code>                             </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Duc  </td><td class="col2 leftalign"> Wenn keiner einkaufen geht, dann ich                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1">Björn </td><td class="col2 leftalign"> Es wir mal wieder Zeit :<code>^</code>)                       </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Dan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT72 TABLE [25712-26778] -->
</div>
<!-- EDIT71 SECTION "Zusagen" [25694-26780] -->
<h1 class="sectionedit73" id="mampf_am_251_um_1830_auf_f2-_zweiter_versuch">MAMPF am 25.1. um 18:30 auf F2- zweiter Versuch</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise : </strong> Pfannkuchen mit Lachs-Sahne-Dill-Sosse</div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Pfannkuchen mit Bohnen-Hackfleisch-Käsefüllung (Eventuell auch alles getrennt oder mit anderen Zutaten. Schreibt eure Wünsche in die Liste, vielleicht gehen sie ja in Erfüllung.)</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Pfannkuchen mit Zimt-Zucker oder Ahornsirup</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> 28.90 Euro (Ralf)</div>
</li>
</ul>

</div>
<!-- EDIT73 SECTION "MAMPF am 25.1. um 18:30 auf F2- zweiter Versuch" [26781-27226] -->
<h2 class="sectionedit74" id="zusagen24">Zusagen</h2>
<div class="level2">
<div class="table sectionedit75"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">pony  </td><td class="col2 leftalign"> Koch                              </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Ralf  </td><td class="col2 leftalign"> Einkäufer Platz  </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">Anca  </td><td class="col2 leftalign"> muss um 19.45 weg                  </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">UAHRS  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1">Benjamin </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Dan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT75 TABLE [27245-28134] -->
</div>
<!-- EDIT74 SECTION "Zusagen" [27227-28137] -->
<h1 class="sectionedit76" id="mampf_am_181_-_muss_leider_ausfallen">MAMPF am 18.1. - muss leider ausfallen.</h1>
<div class="level1">
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise : </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: </strong> Pfannkuchen mit Bohnen-Hackfleisch-Käsefüllung</div>
</li>
<li class="level1"><div class="li"> <strong>Beilage: </strong></div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> Pfannkuchen mit Zimt-Zucker oder Ahornsirup</div>
</li>
</ul>

</div>
<!-- EDIT76 SECTION "MAMPF am 18.1. - muss leider ausfallen." [28138-28367] -->
<h2 class="sectionedit77" id="zusagen25">Zusagen</h2>
<div class="level2">
<div class="table sectionedit78"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">pony  </td><td class="col2 leftalign"> Koch <strong>muss arbeiten, deshalb fällt der Mampf aus.</strong>                             </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> Einkäufer Platz  </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">Thomas  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Ralf  </td><td class="col2"> dann hoffentlich wieder virenfrei </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1 leftalign">UAHRS  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Dan  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT78 TABLE [28386-29319] -->
</div>
<!-- EDIT77 SECTION "Zusagen" [28368-29321] -->
<h1 class="sectionedit79" id="mampf_am_1112015_um_1900_uhr_auf_f4_oder_f2">MAMPF am 11.1.2015 um 19.00 Uhr auf F4 (oder F2)</h1>
<div class="level1">

<p>
Falls der Teufel sich nicht meldet, kocht das Pony. Dann gibt es Pfannkuchen mit Hackfleisch, Bohnen und Käse und zum Nachtisch mit Ahornsirup.
</p>
<ul>
<li class="level1"><div class="li"> <strong>Vorspeise: </strong> </div>
</li>
<li class="level1"><div class="li"> <strong>Hauptgericht: Butter Chicken
  * </strong>Beilage: Reis</div>
</li>
<li class="level1"><div class="li"> <strong>Nachtisch: </strong> (wenn jemand den Nachtisch machen will, bitte eintragen)</div>
</li>
<li class="level1"><div class="li"> <strong>Einkauf: </strong> Putri (18€)</div>
</li>
</ul>

</div>
<!-- EDIT79 SECTION "MAMPF am 11.1.2015 um 19.00 Uhr auf F4 (oder F2)" [29322-29713] -->
<h2 class="sectionedit80" id="zusagen26">Zusagen</h2>
<div class="level2">
<div class="table sectionedit81"><table class="inline">
	<thead>
	<tr class="row0">
		<th class="col0">No</th><th class="col1"> Person </th><th class="col2"> Bemerkung </th>
	</tr>
	</thead>
	<tr class="row1">
		<td class="col0">01</td><td class="col1 leftalign">der Teufel  </td><td class="col2 leftalign"> kocht                             </td>
	</tr>
	<tr class="row2">
		<td class="col0">02</td><td class="col1">Putri </td><td class="col2"> Einkäufer Platz (Ohne Einkäufer findet kein Mampf statt) </td>
	</tr>
	<tr class="row3">
		<td class="col0">03</td><td class="col1 leftalign">pony  </td><td class="col2 leftalign"> Helfer Platz                   </td>
	</tr>
	<tr class="row4">
		<td class="col0">04</td><td class="col1 leftalign">Jonathan  </td><td class="col2 leftalign"> könnte notfalls einkaufen                              </td>
	</tr>
	<tr class="row5">
		<td class="col0">05</td><td class="col1">Duc </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row6">
		<td class="col0">06</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row7">
		<td class="col0">07</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row8">
		<td class="col0">08</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row9">
		<td class="col0">09</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row10">
		<td class="col0">10</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row11">
		<td class="col0">11</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
	<tr class="row12">
		<td class="col0">12</td><td class="col1 leftalign">Leer  </td><td class="col2 leftalign"> -                              </td>
	</tr>
</table></div>
<!-- EDIT81 TABLE [29732-30682] -->
</div>
<!-- EDIT80 SECTION "Zusagen" [29714-] -->